$color-primary: #212121;
$color-primaryLight: #484848;
$color-primaryDark: #000000;

$color-secondry: #c62828;
$color-secondayLight: #ff5f52;
$color-secondayDark: #8e0000;

$color-black: #000000;
$color-white: #ffffff;
