--- 
--- 
@import "github-syntax-dark.css";
@import "./colors";

:root {
  --color-page-background: #{$color-black};
  --color-text: #{$color-white};
  --color-border: #{$color-primaryLight};
}

.dark {
  --color-page-background: #{$color-black};
  --color-text: #{$color-white};
  --color-border: #{$color-primaryLight};
}

.light {
  --color-page-background: #{$color-white};
  --color-text: #{$color-primary};
  --color-border: #{$color-primary};
}

* {
  transition: all .2s ease;
}

html {
  height: 100%;
  background: var(--color-page-background);

  body {
    background: var(--color-page-background);
    color: var(--color-text);
    font-family: monospace;
    font-size: 1.1rem;
    line-height: 1.3;
    margin: 0;
    min-height: 100%;

    @media only screen and (max-width: 520px) {
      font-size: 0.875rem;

      figure {
        margin-inline-start: 0;
        margin-inline-end: 0;
      }

      .highlight pre {
        font-size: 0.5rem;
      }
    }

    .scroll-progress-container {
      overflow: hidden;
      position: sticky;
      top: 0;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 0.8rem;
      z-index: 10000;

      .scroll-progress-bar {
        width: 0%;
        height: 0.8rem;
        background-color: $color-secondry;
      }
    }

    #darkLightToggle {
      margin-right: 0.5rem;
    }

    .content {
      max-width: 1024px;
      margin: 0 auto;
      padding: 4rem 2rem;

      @media only screen and (max-width: 520px) {
        max-width: 1024px;
        margin: 0 auto;
        padding: 0.5rem 2rem;
      }

      /* HEADLINES */
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: 3rem;
      }

      /* TEXTS */
      p {
        margin: 1rem 0;
      }

      *:target {
        color: $color-secondry;
      }
      
      a {
        &:link {
          color: $color-secondry;
        }
        &:visited { 
          color: $color-secondayDark;
        }
        &:hover { 
          color: $color-secondayLight;
        }
        &:active {
          color: $color-secondayDark;
        }
      }
      
      a:-webkit-any-link {
        color: $color-secondry;

        &:hover {
          color: $color-secondayLight;
        }

        &:active {
          color: $color-secondayDark;
        }
      }

      /* CODE-SNIPPETS */
      div.highlighter-rouge code {
        display: block;
        overflow-x: auto;
        padding: 1rem;

        color: $color-white;
        background: $color-primaryLight;
      }

      /* TABLES */
      @mixin table-border {
        border: thin solid var(--color-border);
        border-collapse: collapse;
        padding: 0.4rem;
      }

      table {
        width: 100%;
        @include table-border();

        th,
        td {
          @include table-border();
        }
      }

      /* BLOCKQUOTE */
      blockquote {
        font-style: italic;
        border: thin solid var(--color-border);
        padding: 1rem;

        p {
          margin: 0;
        }
      }

      /* IMAGES */
      img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
      }

      /* LISTS */
      @media only screen and (max-width: 520px) {
        ul {
          padding-inline-start: 10px;
        }
      }

      li {
        margin: 0.4rem 0;
      }

      /* HORIZONTAL-LINES */
      hr {
        margin: 2rem 0;
        text-align: center;
        border: 0;

        &:before {
          content: '/////'
        }

        &:after {
          content: attr(data-content) '/////'
        }
      }

      .post-meta {
        text-align: right;
      }
    }
  }
}

.flex-container {
  display: flex;
  align-items: center;

  &-no-resp {
    display: flex;
    align-items: center;
  }

  @media only screen and (max-width: 520px) {
    display: flex;
    align-items: start;
    flex-direction: column-reverse;
  }

  &-no-reverse {
    @media only screen and (max-width: 520px) {
      display: flex;
      align-items: start;
      flex-direction: column;
    }
  }

  .flex-item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    @media only screen and (max-width: 520px) {
      width: 100%;
    }

    &-center {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-wrap: initial;
    }

    &-end {
      align-items: end;
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
