---
layout: default
---
<header>
    <h1>{{ site.title }}</h1>
    {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
    {%-endif-%}
</header>

<ul>
    <li>last projects:</li>
    <ul>
        {% for post in site.categories.Project %}
        <li>
            <span>{{- post.date | date: site.theme_config.date_format -}}</span>
            <a href="{{ post.url | relative_url }}">{{ post.title | downcase }}</a>
        </li>
        {% endfor %}
    </ul>
</ul>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}